
.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 1%;
}

.navbar a {
  text-decoration: none;
}

.banner {
/*   background-color: red; */
  margin-top: 2%;
  padding: 1% 0;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
/*   width: 100%; */

}

.about {
  padding: 1% 0;
  margin-top: 2%;
  text-align: center;
  width: 50%;
}

.about h2 {
  text-align: center;
}

.about p {
  text-align: center;
}

/* .food {
  padding-right: 15%;
  width: 40%;
  margin: 10%
}

.pest {
  padding-left: 15%;
  width: 40%;
  margin: 10%
} */
