
.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  display: inline-block;
  padding: 1%;
}

.navbar a {
  text-decoration: none;
}

.banner {
  background-color: red;
  margin-top: 2%;
  padding: 1% 0;
  text-align: center;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
/*   width: 100%; */

}

/* .menus div {
  display: inline-inline-block;
} */

.food {
  padding-right: 15%;
}

.pest {
  padding-left: 15%
}
